/* must have code for every css end start */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* must have code for every css file end */

/* ----- for editing purposes start ----- */
* {
    border: solid, black, 1px;
}
/* ----- for editing purposes end ----- */

.clear::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #cecece;
}

nav {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    margin: 0px 0px 16px 0px;
}

nav>a {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #206E32;
    color: #fff;
}

nav a:hover {
    background-color: #2f9e49;
}

.banner a:hover {
    opacity: 0.5;
}
.sidebar a:hover {
    opacity: 0.5;
}


main {
    padding: 20px;
    background-color: #fff;
    min-width: 1000px;
}

body {
    margin-top: 0;
}

h1 {
    text-align: center;
}

section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7b7b7b;
}

/* grid area name associations */
.nav {
    grid-area: nav;
}

.banner {
    grid-area: banner;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(333.33px, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
        ". nav nav nav ."
        ". banner banner banner ."
        ". main main main sidebar";
}

#bannerAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 1000px;
    height: 200px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* centre element horizontally */
    margin-left: auto;
    margin-right: auto;

    /* offset bottom edge */
    margin-bottom: 20px;

    /*  */
    overflow: hidden;

    background-color: #51aae6;

}

#sidebarAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 300px;
    height: 800px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* offset left edge */
    margin-left: 20px;

    overflow: hidden;

    /* temporary background colour to identify it on page. Delete this. */
    background-color: #51e6aa;
}

/* ------------------- BANNER SCENE IMAGES START ------------------- */
#banner_bannerScene1_img1 {
    position: absolute;
    width: 1385px;
    top: -170px;
    left: -30px;

    transform: scale(1.2);
    
    animation-name: bannerbannerScene1BackgroundZoomOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
}


#banner_bannerScene2_img1 {
    position: absolute;
    width: 1385px;
    top: -170px;
    left: -30px;
    opacity: 0;
    animation-name: bannerbannerScene2BackgroundFadeIn, bannerbannerScene2Background;
    animation-duration: 2s, 5s;
    animation-delay: 5s, 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bannerbannerScene2BackgroundFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bannerbannerScene1BackgroundZoomOut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bannerbannerScene2Background {
    0% {
        left: -30px;
    }

    100% {
        left: -375px;
    }
}
/* ------------------- BANNER SCENE IMAGES END ------------------- */


/* ------------------- BANNER SCENE TEXTS START ------------------- */
#bannerScene1text, #bannerScene2text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

#bannerScene1text {
    color: #2d2c31;
    left: 49%;
    top: 66%;
    animation-name: bannerScene1textAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#bannerScene2text {
    color: #68c37d;
    left: 0%;
    top: 0%;
    opacity: 0;
    animation-name: bannerScene2textAnimationFadeIn, bannerScene2textAnimation;
    animation-duration: 2s, 5s;
    animation-delay: 5s, 7s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
}

@keyframes bannerScene1textAnimation {
    0% {
        font-size: 30px;
        color: #2d2c31;
    }
    50% {
        color: #9288cf;
    }
    100% {
        font-size: 43px;
        color: #2d2c31;
    }
}

@keyframes bannerScene2textAnimation {
    0% {
        font-size: 30px;
        color: #68c37d;
    }
    50% {
        color: #386843;
        
    }
    100% {
        font-size: 43px;
        color: #68c37d;
    }
}

@keyframes bannerScene2textAnimationFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#studentID {
    position: absolute;
    visibility: visible;
    font-size: 18px;
    color: red;
    top: 0%;
    left: 91%;
    opacity: 1;
}
/* ------------------- BANNER SCENE TEXTS END ------------------- */





/* ------------------- SIDEBAR SCENE IMAGES START ------------------- */
#sidebar_sidebarScene1_img {
    position: absolute;
    width: 445px;
    height: 800px;
}

#sidebar_sidebarScene2_img {
    position: absolute;
    right: 0;
    width: 390px;
    height: 800px;;
    opacity: 0;  /* start off invisible */
}

#sidebar_sidebarScene3_img {
    position: absolute;
    left: -402px;
    top: -90px;
    width: 1350px;
    height: 900px;
    opacity: 0;  /* start off invisible */
}
/* ------------------- SIDEBAR SCENE IMAGES START ------------------- */

/* ------------------- SIDEBAR SCENE TEXTS START ------------------- */
#sidebarScene1Line1, #sidebarScene1Line2, #sidebarScene1Line3 {
    visibility: visible;
}

