/* must have code for every css start */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* must have code for every css file end */

.clear::after {
    content: "";
    clear: both;
    display: table;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #cecece;
}

nav {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    margin: 0px 0px 16px 0px;
}

nav>a {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #206E32;
    color: #fff;
}

nav a:hover {
    background-color: #2f9e49;
}

.banner a:hover {
    opacity: 0.5;
}
.sidebar a:hover {
    opacity: 0.5;
}


main {
    padding: 20px;
    background-color: #fff;
    min-width: 1000px;
}

body {
    margin-top: 0;
}

h1 {
    font-size: 45px;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #7b7b7b;
}

/* grid area name associations */
.nav {
    grid-area: nav;
}

.banner {
    grid-area: banner;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(333.33px, 1fr));
    grid-auto-rows: auto;
    grid-template-areas:
        ". nav nav nav ."
        ". banner banner banner ."
        ". main main main sidebar";
}

#bannerAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 1000px;
    height: 200px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* centre element horizontally */
    margin-left: auto;
    margin-right: auto;

    /* offset bottom edge */
    margin-bottom: 20px;

    /*  */
    overflow: hidden;

    background-color: #51aae6;

}

#sidebarAd {
    /* hard coded dimensions to avoid animation scaling issues */
    width: 300px;
    height: 800px;

    /* reset display mode */
    display: block;

    /* make all child elements absolutely position to this instead of page */
    position: relative;

    /* offset left edge */
    margin-left: 20px;

    overflow: hidden;

}

/* ------------------- BANNER SCENE IMAGES START ------------------- */
#banner_bannerScene1_img1 {
    position: absolute;
    width: 1385px;
    top: -170px;
    left: -30px;

    transform: scale(1.2);
    
    animation-name: bannerbannerScene1BackgroundZoomOut;
    animation-duration: 5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
}


#banner_bannerScene2_img1 {
    position: absolute;
    width: 1385px;
    top: -170px;
    left: -30px;
    opacity: 0;
    animation-name: bannerbannerScene2BackgroundFadeIn, bannerbannerScene2Background;
    animation-duration: 2s, 5s;
    animation-delay: 5s, 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes bannerbannerScene2BackgroundFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bannerbannerScene1BackgroundZoomOut {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

@keyframes bannerbannerScene2Background {
    0% {
        left: -30px;
    }

    100% {
        left: -375px;
    }
}
/* ------------------- BANNER SCENE IMAGES END ------------------- */


/* ------------------- BANNER SCENE TEXTS START ------------------- */
#bannerScene1text, #bannerScene2text {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

#bannerScene1text {
    color: #2d2c31;
    left: 49%;
    top: 66%;
    animation-name: bannerScene1textAnimation;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#bannerScene2text {
    color: #68c37d;
    left: 0%;
    top: 0%;
    opacity: 0;
    animation-name: bannerScene2textAnimationFadeIn, bannerScene2textAnimation;
    animation-duration: 2s, 5s;
    animation-delay: 5s, 7s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-fill-mode: forwards, forwards;
}

@keyframes bannerScene1textAnimation {
    0% {
        font-size: 30px;
        color: #2d2c31;
    }
    50% {
        color: #9288cf;
    }
    100% {
        font-size: 43px;
        color: #2d2c31;
    }
}

@keyframes bannerScene2textAnimation {
    0% {
        font-size: 30px;
        color: #68c37d;
    }
    50% {
        color: #386843;
        
    }
    100% {
        font-size: 43px;
        color: #68c37d;
    }
}

@keyframes bannerScene2textAnimationFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#studentIDbanner {
    position: absolute;
    visibility: visible;
    font-size: 18px;
    color: red;
    top: 0%;
    left: 91%;
    opacity: 1;
}

#studentIDsidebar {
    position: absolute;
    visibility: visible;
    font-size: 18px;
    color: red;
    top: 0%;
    left: 71%;
}
/* ------------------- BANNER SCENE TEXTS END ------------------- */





/* ------------------- SIDEBAR SCENES START ------------------- */
#sidebarScene1 {    /* scene 1 start */                     
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#sidebar_sidebarScene1_img {
    position: absolute;
    width: 445px;
    height: 800px;
}

#sidebarScene1Text {
    position: absolute;
    width: 280px;
    height: 280px;
    color: white;
    background-color: rgb(97, 0, 177, 0.7);
    font-family: cursive;
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   /* scene 1 end */                                           


#sidebarScene2 {    /* scene 2 start */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#sidebar_sidebarScene2_img {
    position: absolute;
    width: 480px;
    height: 900px;
}

#sidebarScene2Text {
    position: absolute;
    width: 280px;
    height: 280px;
    color: white;
    background-color: rgb(97, 0, 177, 0.7);
    font-family: cursive;
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   /* scene 2 end */


#sidebarScene3 {    /* scene 3 start */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}

#sidebar_sidebarScene3_img {
    position: absolute;
    width: 1350px;
    height: 900px;
    left: -450px;
}

#sidebarScene3Line1, #sidebarScene3Line2 {
    font-family: cursive;
    color: white;
    font-weight: bold;
}

#sidebarScene3Line1 {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 10%;
}

#sidebarScene3Line2 {
    position: absolute;
    font-size: 30px;
    background-color:  rgb(97, 0, 177);
    left: 0;
}   /* scene 3 end */
/* ------------------- SIDEBAR SCENE IMAGES END ------------------- */





/* ------------------ REGISTRATION FORM START ------------------ */
section {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 16px;
    border-radius: 0.5em;
    margin: 8px 8px 16px 8px;
}

.underline {
    border-bottom: 1px solid #d0d0d0;
}

.container-half {
    padding: 8px;
    width: 100%;
    margin: 1%;
    float: none;
    box-sizing: inherit;
    text-align: center;
    min-height: 300px;
    min-width: 500px;
}

.card-title {
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: #fff;
}

progress {
    margin-top: 20px;
    width: 78%;
    background-color:darkgray;
    height: 20px;
    border-radius: 0.5em;
}

progress::-moz-progress-bar,progress::-webkit-progress-value {
    background-color:#206E32;
}

.form-page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    width: 80%;
}
.form-page .row {
    width: 100%;
    float: left;
    padding: 8px 8px 2px 0px;
    text-align: left;
    vertical-align: middle;
}

.form-page label input[type="date"] {
    line-height: 150%;    
    width: 20%;
}

.form-page label input[type="number"] {
    line-height: 150%;
    width: 5%;
}

.form-page label input[type="text"] {
    width: 50%;
    float: none;
    line-height: 150%;
    padding-right: 10px;
    margin-left: 10px;
}
.form-page label input[type="email"] {
    width: 50%;
    margin-left: 5px;
    line-height: 150%;
}

.form-page label input[type="checkbox"] {
    
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 50px;
}

button:hover {
    background-color: #d4d4d4;
}

.form-page button {
    padding: 4px 8px;
    margin: 8px;
    width: 25%;
}

.form-page button.next {
    float: right;
}

.form-page button.previous {
    float: left;
}


table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    margin-top: 20px;
}

thead {
    color:#fff;
    background-color: #206E32;
}

th {
    padding: 8px 8px 8px 16px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

td {
    text-align: center;
}
/* ------------------ REGISTRATION FORM END ------------------ */


/* ------------------ REPLAY FUNCTION ------------------ */
#sidebarReplay {
    position: absolute;
    left: 100px;
    top: 370px;
    font-size: 100px;
    color: rgb(255, 0, 0);
    opacity: 0.5;
}

#sidebarReplay:hover {
    opacity: 1;
}

#sidebarScene4 {
    visibility: hidden;
}